body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

// -----------------------------------------

body {
  margin: 0;
  background-color: rgba(119, 119, 119, 1);  // middle gray
  button {
      cursor: pointer;
  }
  padding-bottom: 4rem;
}

button.edit {
  transition: color 0.2s;
}

.menu {
  padding: 0.5em;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  height: 2em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
      height: 100%;
  }
}

.avatar {
  max-height: 100%;
  margin-right: 1em;
}

#avatar-label {
  height: 2em;
  width: 2em;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1em;
  border: 1px solid black;
}

#avatar-input {
  display: none;
}

.new-post-icon {
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  margin-right: 0.5rem;
}

.user-name {
  position: relative;
  bottom: 0.5rem;
  & > button {
      background-color: transparent;
      border: none;
      color: blue;
      font-size: 2rem;
      position: relative;
      top: 4px;
      &:hover {
          color: cyan;
      }
  }
}


// ---------------- home / list of posts --------------------
.route-home {
  margin: 2em;
}

.post {
  height: 100%;
  & > a {
      display: block;
      height: 88%;
  }

  .post-text {
      p {
          margin: 0;
      }
  }

  .post-metadata {
      max-width: 80%;

      .author {
          overflow: hidden;
          text-overflow: ellipsis;
      }
  }

  img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

.post-list {
  padding: 0;
  list-style: none;

  display: grid;
  // grid-gap: 1rem;
  gap: 2rem;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: stretch;
}

.following-list {
  li {
      margin-bottom: 0.5em;
  }

  .followed-avatar {
      width: 2em;
      height: 2em;
      max-height: 2em;
      display: inline-block;
      border-radius: 50%;
      margin-right: 1em;
      border: 1px solid black;
      overflow: hidden;

      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }
}

.post-attributes {
  height: 3em;
  display: flex;
  margin-top: 0.5em;

  .follow-icon {
      font-size: 3em;
      width: 100%;
      text-align: right;
      & button {
          font-size: 1em;
          background-color: transparent;
          border: none;
          font-family: initial;
          color: blue;
          transition: color 0.2s;
          &:hover {
              color: cyan;
          }
          &:disabled {
              // color: black;
              color: #8700ff;
              cursor: not-allowed;
          }
      }
  }
}

.post-avatar {
  height: 2em;
  width: 2em;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1em;
  border: 1px solid black;
  img {
      height: 100%;
  }
}

// --------------------------------------------------------


// ------------------- new ---------------------
.new-post {
  form {
      margin-bottom: 4em;
  }

  .image-preview {
      width: 50vw;
      img {
          width: 100%;
          height: 100%;
      }
  }

  .text-input {
      margin-top: 1em;
      margin-bottom: 1em;
      width: 50vw;
      height: 4em;

      textarea {
          width: 100%;
          height: 100%;
      }
  }
}
// ----------------------------------------------


// ------------------- feed route -------------------------
ul.feed {
  padding: 2em;
}
// --------------------------------------------------------

// --------------- single post -------------------

.single-post {
  padding: 0 5em;
  margin-bottom: 5em;

  h1 {
      font-weight: normal;
      font-size: 1.5rem;
      a {
          text-decoration: none;
      }
  }

  .author {
      h1 {
          display: inline-block;
      }
  }
}

// -----------------------------------------------


// ------------------ pubs ------------------------------

.pubs-route {
  padding: 1em;

  p {
      margin-bottom: 0;
  }

  .form-part {
      margin-bottom: 0.5em;
  }

  .pubs-list {
      list-style: none;
      padding: 0;
      li.pub {
          margin-bottom: 0.5em;
          border: 1px solid aliceblue;
          padding: 1em;
      }
  }
}

.pubs {
  #invite {
      width: 94vw;
      padding: 0.8em;
  }
}

// ----------------------------------------------------------

// --------------- profile info ---------------------

.feed-route {
  hr {
      margin: 2em 0;
      background-color: gray;
  }
}

.profile-info {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;

  img.avatar-big {
      border: 1px solid black;
      object-fit: cover;
      border-radius: 50%;
      width: 500px;
      height: 500px;
      overflow: hidden;
  }
}

// ---------------------------------------------------

