.single-post {
  padding: 0 5em;
  margin-bottom: 5em;

  h1 {
      font-weight: normal;
      font-size: 1.5rem;
      a {
          text-decoration: none;
      }
  }

  .author {
      h1 {
          display: inline-block;
      }
  }
}
